body {
    
    font-family: Arial, Helvetica, sans-serif;
}
  .fast_section{
    background: rgba(255, 144, 14, 0.1);
}
  .topnav a {
    /* float: left; */
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
/* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.spli {
    float: right;
   }


    

   .banner_text{
    justify-content: center;
   }
   .brand_section{
    display: flex;
    align-items: center;
    
   }
   .explore{
    color:white;
    background-color: darkorange;
    height: 40px;
    width: 150px ;
    border-radius: 5px;
    border: none;
    font-weight: 700;
   }
   /* ---------------------------- */
   .second_section{
    margin-top: 50px;
    display: flex;
   }
   .second_img_box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
   }
   .second_text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
   }

   /* -------------------- */

   .third_section{
    display: flex;
    margin-top: 50px;
    padding: 100px;
    width: 100%;
    
   }

   .third_section_texts{
    width: 100%;
   }
   .third_section_img img{
    height: 500px;
    
    
   }
   .explore10{
    color:white;
    background-color: darkorange;
    height: 100px;
    width: 120px ;
    border-radius: 5px;
    border: none;
    font-weight: 700;
   }
   /* ---------------------- */
   .forth_section_img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 150px;
    margin-top: 50px;
   }
   .forth_section_icons{
    border: 2px solid darkorange;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    
   }

   /* ------------------ */
   .fifty_section_imgs{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 100px;
    filter: grayscale(100%);
   }
   .fifty_section_text{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    
   }

   /* ---------------------------- */
   .end_footers{
    background-color: rgba(255, 144, 14, 0.1); ;
    height: 50px;
    width: 100%;
    margin-top: 50px;
   }
   .end_footer{
    display: flex;
    align-items: center;
    justify-content: center;
   }